/* login.css */

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff; /* Nova cor de fundo da div envolvente */
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #333;
  color: #fff;
}

.login-container h5 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #444;
  padding: 20px;
  border-radius: 6px;
}

.login-container .MuiTextField-root {
  margin-bottom: 10px;
}

.login-container .MuiButton-root {
  margin-top: 20px;
}

.login-container .MuiFormControlLabel-root {
  margin-bottom: 10px;
}

.login-container .MuiTypography-root.error {
  color: #f44336;
  text-align: center;
  margin-top: 10px;
}

.login-container .MuiTypography-root.error::before {
  content: "!";
  display: inline-block;
  margin-right: 5px;
}

.login-container .MuiLink-root {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #007bff;
  margin-top: 10px;
}

.login-container .MuiLink-root:hover {
  text-decoration: underline;
}

.custom-paper {
  background-color: #444; /* Fundo branco */
  color: #0a0404; /* Cor do texto */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}
