/* Skills that the employee doesn't possess */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
}

li img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

button.add-skill-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button.add-skill-button:hover {
  background-color: #0056b3;
}

/* Home page styles */
.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header {
  text-align: center;
  margin-bottom: 20px;
}

.home-header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: underline;
}

.textboxLeftVC {
  margin-left: 6%;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 35px;
  width: 550px;
  border-radius: 10px;
  justify-content: center;
}

/* Skill item styles */
.skill-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-image {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.remove-skill-button {
  background-color: #dc3545;
  color: #fff;
}

button.remove-skill-button {
  margin-left: 100vh;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
}

button.remove-skill-button:hover {
  background-color: #c82333;
}

button.remove-skill-button span {
  margin-right: 5px;
}

/* "Adicionar Skill" button */
button.add-skill-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button.add-skill-button:hover {
  background-color: #0056b3;
}

/* Level input */
input.level-input {
  margin-left: 10px;
  width: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Logout button */
button.logout-button {
  position: fixed;
  top: 40px;
  right: 20px;
  display: flex;
  align-items: flex-end;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
}

button.logout-button:hover {
  background-color: #c82333;
}

button.logout-button svg {
  margin-right: 5px;
}

/* ... (other CSS styles) */

/* Skill item styles */
.skill-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-image {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.add-skill-button {
  flex-direction: column; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.add-skill-button:hover {
  background-color: #0056b3;
}

.skill-details {
  text-align: center; 
}

.level-input {
  width: 50px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
